[Unit]
Description=FluksoCore
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker-compose -f /home/pi/FluksoCore/docker-compose.yml down
ExecStart=/usr/bin/docker-compose -f /home/pi/FluksoCore/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /home/pi/FluksoCore/docker-compose.yml stop

[Install]
WantedBy=multi-user.target